* {
    color: #424242;
}
body, html {
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #424242;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 
##################   Global   ##################
*/
.flex {
    display: flex;
    justify-content: space-between;
}
ul {
    padding: 0;
    margin: 0;
}
.mb-1 {
    margin-bottom: 15px;
}
li .delete {
    opacity: 0;
    transition: opacity .5s;
    padding: 2px;
    cursor: pointer;
    margin: 0 15px;
}
li .delete img {
    width: 16px;
    height: 16px;	
}
li:hover .delete {
    opacity: .6;
}
button {
    border: 0;
    cursor: pointer;
    color: #fff;
    padding: 10px 18px;
    border-radius: 4px;
    background: linear-gradient(90deg, #3ec4f9 8%,#22e54c 100%);
    font-size: 15px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    transition: all .3s;
    margin-left: 10px;
}
button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

input[type=text] {
    transition: background-color, border .3s;
    border: 1px solid #ddd;
}
input[type=text]:hover {
    border: 1px solid #23b8f3;
    background-color: #f9f9f9;
}

/* 
##################   Menu   ##################
*/
h1 {
    margin: 0;
    font-size: 26px;
}
.menuRow {
    padding: 12px 10px;
    list-style: none;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 2px 5px 8px -2px rgba(0,0,0,0.1);
    transition: all .4s;
}
.menuRow:hover {
    transform: translate(-2px, -2px);
    box-shadow: 4px 5px 8px -2px rgba(0,0,0,0.1);
}

/* 
##################   Lists   ##################
*/
#checklisttitle {
    font-size: 21px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: .2s background-color;
    width: 100%;
    font-weight: bold;
}
#checklisttitle:focus {
    background-color: #fff;
}

.checklist-item {
    list-style: none;
    transition: background-color .1s;
    display: flex;
    align-items: center;
}
.checklist-item:hover input[type=text], .checklist-item:hover .checkbox {
    background-color: #f9f9f9;
}
.checklist-item input[type=text] {
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 5px;
    transition: border,background-color .3s;
    width: 100%;
    margin-left: 5px;
}
.checklist-item input[type=text]:hover {
    border: 1px solid #23b8f3;
}
.main {
    max-width: 600px;
    margin: 15px auto;
    display: block;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #23b8f3;
    background-color: #fff;
}
.checkbox {
    width: 23px;
    height: 20px;
    border: 2px solid grey;
    vertical-align: middle;
    display: inline-block;
    transition: border-color .3s;
}
.checkbox:hover {
    border-color: #23b8f3;
}
.check {
    width: 100%;
    height: 100%;
}
.complete {
    text-decoration: line-through;
    color: #969696;
}
.addItem {
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 3px;
    min-width: 200px;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: none;
    margin: 0;
    cursor: pointer;
    border-radius: 3px;
}
input[type="checkbox"]:checked {
    background-image: url("./res/check.svg");
    background-size: contain;
}